@import '../../variables.scss';

.Profile {
    padding: 30px;

    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }


    fieldset {
        margin: 30px 0px;
    }

    legend {
        text-align: center;
    }

    label,
    legend {
        font-weight: 500;
    }

    hr {
        border: 1px solid $primaryColor;
    }

    input {
        width: 25%;
    }
}