.Transactions {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;

    tr,
    th {
        border: 1px solid grey;
    }

    .balance {
        text-align: right;
        padding: 30px 0px;
        color: green;
    }
    .yellow {
        color: rgb(198, 198, 17);
    }

    .red {
        color: red;
    }
}