@import '../../variables.scss';

.Transactions {
    display: flex;
    flex-direction: column;

    th {
        background-color: $accentColor;
        color: $accentTextColor;
        text-align: left;
        font-weight: 500;
        box-shadow: $boxShadow;
    }

    tr {
        box-shadow: $boxShadow;
    }

    th, td {
        padding: 5px 10px;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 35px;
    }

    .balance {
        text-align: right;
        padding: 5px;
        box-shadow: $boxShadow;
        bottom: 0;
        font-weight: 500;
    }

    .yellow {
        color: rgb(198, 198, 17);
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}