.Transactions {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    height: 80vh;


    th {
        background-color: #F1F2E0;
    }

    .balance {
        text-align: right;
        padding: 30px 0px;
        color: green;
    }
    .yellow {
        color: rgb(198, 198, 17);
    }

    .red {
        color: red;
    }
}