@import '../../variables.scss';

.TransactionDetails {
    padding: 30px;

    .detail {
        color: $accentColor;
    }

    .buttons {
        display: flex;
        padding: 10px 0px;
        gap: 15px;
    }
}