.Nav {
    padding: 40px 60px;
    background: #0092ca;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    ul {
        display: flex;
        justify-content: space-between
    }

    .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

   li:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}