@import '../../variables.scss';

.Nav {
    padding: 40px 60px;
    background: $primaryColor;
    color: #fff;
    box-shadow: $boxShadow;

    ul {
        display: flex;
        justify-content: space-between
    }

    .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

    li:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .mobile_nav {
        // display: none;
        text-align: right;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }

    @media (max-width: 480px) {
        .desktop_nav {
            display: none;
        }

        .mobile_nav {
            display: flex;
        }

        .dropdown ul {
            flex-direction: column;
        }

        li:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}