@import '../../variables.scss';

.Nav {
    padding: 40px 60px;
    background: $primaryColor;
    color: #fff;
    box-shadow: $boxShadow;

    ul {
        display: flex;
        justify-content: space-between
    }

    .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

    li:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}